# Storage Mode (local or cloud)
STORAGE_MODE=local

# Cloud Database (Turso)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Cloud Storage (Vercel Blob)
BLOB_READ_WRITE_TOKEN=

# Algorand Network Configuration
NEXT_PUBLIC_ALGORAND_NETWORK=testnet
# https://testnet-api.4160.nodely.dev
# https://mainnet-api.4160.nodely.dev
NEXT_PUBLIC_ALGOD_SERVER=https://testnet-api.algonode.cloud
NEXT_PUBLIC_ALGOD_PORT=443
NEXT_PUBLIC_ALGOD_TOKEN=

# Algorand Indexer Configuration
NEXT_PUBLIC_INDEXER_SERVER_TESTNET=https://testnet-idx.algonode.cloud/v2
NEXT_PUBLIC_INDEXER_SERVER_MAINNET=https://mainnet-idx.algonode.cloud/v2

# AlgoLink Fee Configuration
NEXT_PUBLIC_FEE_ADDRESS=G5YFEC2BD3BXZJ3OEM4E5SXTFPLXUO3FUS667MY6TSM2XAYNNHALHZ623U
NEXT_PUBLIC_FEE_AMOUNT_MICROALGOS=5000000

# Market Data & Gateway Configuration
NEXT_PUBLIC_COINGECKO_API_URL=https://api.coingecko.com/api/v3/coins/algorand?localization=false&tickers=false&market_data=true&community_data=false&developer_data=false&sparkline=false

# IPFS Gateways (Nodely Primary)
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.algonode.xyz/ipfs/
NEXT_PUBLIC_IPFS_GATEWAY_BACKUP=https://ipfs.algonode.dev/ipfs/
# NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/
NEXT_PUBLIC_ARWEAVE_GATEWAY=https://arweave.net/

# Database Configuration
DATABASE_PATH=./database/algolink.db
 
# Wallet Provider Configuration (Magic & Web3Auth)
NEXT_PUBLIC_MAGIC_API_KEY=your_magic_api_key_here
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=your_web3auth_client_id_here

# Authentication (Server Side)
# Generate a strong secret: openssl rand -base64 32
JWT_SECRET=your_jwt_secret_here
GEMINI_API_KEY=gemina-api-key-here

# SMTP Configuration (Nodemailer)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

# Base URL of Application
NEXT_PUBLIC_APP_URL=http://localhost:3000